<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sub.css">
  <title>Foodie Share</title>
</head>
<header>
  <nav id="nav-header">
    <a href="/subs/list"> LIST </a>
    <a href="/">
      <p> Foodie Share </p>
    </a>
    <% if (user) { %>
      <a href="/posts/create"> CREATE </a>
      <form action="/authentication/logout" method="POST">
        <button type="submit">Log out</button>
      </form>
      <% } else { %>
        <a href="/authentication/login"> LOGIN </a>
        <% } %>
  </nav>
</header>

<body>
  <div>
    <% posts.forEach(post=> { %>
      <div>
        <div>
          <ul>
            <li>
              <a href="/posts/show/<%= post.id %>">
                <%= post.title %>
              </a>
              <span>
                <%= post.creatorName %>
              </span>
            </li>
            <small><a href=<%=post.link %>><%= post.link %></small>
          </ul>
        </div>
      </div>
    </div>
   <% }) %>
  </div>
</body>

</html>